body{
	
	font-family: 'Roboto';
}
header{
	background: #FFFFFF;
}
.widht_center{
	width: 1140px;
	margin: 0 auto;
}
	.seporator{
		border-top: 1px solid #DFE0E1;
		height: 2px;
	}
a{
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(28, 41, 77, 0.8);
	margin: 5px;
}
a:hover{
	color: rgba(170, 17, 17, 0.8);
}
ul{
	padding-left: 0;
	list-style-type: none;
}
li{
	margin-right: 15px;
}
input {
  box-sizing: border-box;
  width: 430px; 
  margin: 0;
  padding: 0;
  height: 40px;
  border: none;
} 
span{
	
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;

}

.about .uil{
	color: rgba(28, 41, 77, 0.8);
}
.uil-search{
	color: #FFFFFF;
}
.justify{
	display: flex;
	justify-content: space-between;
}
.justify_start{
	display: flex;
	justify-content: start;
}
.search_blok{
	margin-left: 30px;
	width: 573px;
	border-top: 1px solid #DFE0E1;
	border-bottom: 1px solid #DFE0E1;
	border-left: 1px solid #DFE0E1;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	height: 40px;
}
.search{
	
	padding-top: 20px;

}
.search a{
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
}
.search_button{
	padding: 0;
	margin: 0;
	height: 40px;
	width: 123px;
	border: none;
	background: #FF7A00;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.search_button:hover{
	background: #FF4A00;
}
.nav a{
	font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #1C294D;
}
.nav a:hover{	
color: #FF283D;

}
.uil-tag{
	margin-right: 5px;
	
}

/*
-------------------------------------------------------------------------------------------------------------------------------------
*/
.main{
	background: #E5E5E5;
	width: 100%;
}
.main_left_top{
	width: 750px;
	height: 350px;
	margin-bottom: 30px;
	margin-left: -5px;

}
.blok_main{
	width: 360px;
	height: 140px;
}
.blok_1 p{
color: #FFFFFF;
font-weight: 600;
margin:  auto;
font-size: 20px;
line-height: 25px;	
}
.blok_1 span{
color: #FF7A00;	
font-size: 20px;
line-height: 25px;	
font-weight: 600;
}


.blok_2 p{
	margin:  auto;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: rgba(28, 41, 77, 0.8);
}
.blok_2 span{
	margin:  auto;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: #62bf9d;
}
.circule{
	margin: 20px;
	margin-left: 0;
	width: 100px;
	border-radius: 50%;
	background-color: #FFFFFF;
}
.blok_1{
	background-image: url(img/Rectangle3.png);
}
.blok_2{
	background-image: url(img/Rectangle2.png);
}
.swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }