body{
	width: 1140px;
	margin: 0 auto;
	font-family: 'Roboto';
}

a{
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(28, 41, 77, 0.8);
	margin: 5px;
}
a:hover{
	color: rgba(170, 17, 17, 0.8);
}
ul{
	padding-left: 0;
	list-style-type: none;
}
li{
	margin-right: 15px;
}
input {
  box-sizing: border-box;
  width: 430px; 
  margin: 0;
  padding: 0;
  height: 40px;
  border: none;
} 
span{
	
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;

}

.about .uil{
	color: rgba(28, 41, 77, 0.8);
}
.uil-search{
	color: #FFFFFF;
}
.justify{
	display: flex;
	justify-content: space-between;
}
.justify_start{
	display: flex;
	justify-content: start;
}
.search_blok{
	margin-left: 30px;
	width: 573px;
	border-top: 1px solid #DFE0E1;
	border-bottom: 1px solid #DFE0E1;
	border-left: 1px solid #DFE0E1;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	height: 40px;
}
.search{
	border-top: 1px solid #DFE0E1;
	padding-top: 20px;

}
.search a{
	font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
}
.search_button{
	padding: 0;
	margin: 0;
	height: 40px;
	width: 123px;
	border: none;
	background: #FF7A00;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.search_button:hover{
	background: #FF4A00;
}
.nav a{
	font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #1C294D;
}
.nav a:hover{	
color: #FF283D;

}
.uil-tag{
	margin-right: 5px;
	
}